/*****************************************************************************/
/*
/* Imports
/*
/*****************************************************************************/

@import url('animations.css');
@import url('gallery.css');
@import url('http://fonts.googleapis.com/css?family=Cabin|Muli:300,400');

/*****************************************************************************/
/*
/* Common
/*
/*****************************************************************************/

/* Global Reset */
* {
  margin: 0;
  padding: 0;
}

html, body { height: 100%; }

h1, h2, h3, h4, h5, h6 {
  font-size: 100%; }

h1 { margin-bottom: 1em; }
p { margin: 1em 0; }


/* Links */

h1 > a, h1 > a:visited {
	color:#E0D1D1;
}

h1 > a:hover {
	color: #e0a9b7;
	text-decoration: none;
}

/*****************************************************************************/
/*
/* Home
/*
/*****************************************************************************/

/* Fonts */

body {
  font-family: "Muli", Helvetica, sans-serif;
  color: #343430;
  background-color: #F5F4F6;
}


h1 {
	font-weight: 300;
	font-size: 30px;
	/* padding-top: 6px; */
	color: #E0D1D1;
}


h2 {
	font-weight: 300;
	font-size: 50px;
}

h3 {
	font-weight: 400;
	font-size: 30px;
}

h3.sub {
	font-weight: 400;
	font-size: 22px;
}

h3.sub-small {
	font-weight: 300;
	font-size: 18px;
}

p {
	font-weight: 300;
	font-size: 22px;
	max-width: 60ch;
}

ul {
	font-weight: 300;
	font-size: 22px;
	list-style-type: none;
}

a {
	color: #e0a9b7;
	text-decoration: none;
}

a:visited {
	color: #e0a9b7;
}

.animate {
	visibility: hidden;
}

.small {
	font-size: 11px !important;
}

.lead {
	font-size: 35px;
}

/* Scaffolding & Alignment */


.site {
	margin-left: auto;
	margin-right: auto;
	width: 90%;
}


.header {
	background-color: white;
	border-bottom: 1px solid #e5c8ce;
	height: 50px;
}

.box {
	background-color: #CBCBC1;
	width: 20%;
	margin-left: auto;
	margin-right: auto;
	height: 65%;
	text-align: right;
	padding-top: 4%
}

.border {
	border: 1px;
	border-style: solid;
	height: 80%;
}


hr {
	margin-top: 100px;
	margin-bottom: 100px; 
 	border: 0;
    height: 0;
    border-top: 1px solid #e5c8ce;
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

hr.short {
	margin-top: 45px;
	margin-bottom: 45px;
}

.name {
	margin-left: auto;
	margin-right: auto;
	width: 90%;
}

.right {
	float: right;
}

.left {
	float: left;
}

section {
	display: block;
}

.intro {
	display: block;
}

.social {
	padding-bottom: 60px;
}


.analytics {
	visibility: hidden;
}

/*****************************************************************************/
/*
/* Intro
/*
/*****************************************************************************/

.intro-img {
	width: 200px;
	max-width: 20%;
	border: 1px;
	border-style: solid;
	border-color: #999997;
	border-radius: 100px;
}

.clearfix {
  overflow: auto;
}


/*****************************************************************************/
/*
/* Work
/*
/*****************************************************************************/

.logo {
	width: 100px;
	max-width: 35%;
	padding: 15px;
	visibility: hidden;
}

/*****************************************************************************/
/*
/* Talks
/*
/*****************************************************************************/

.talk {
	width: 400px;
	max-width: 30%;
	display: inline;
}

/*****************************************************************************/
/*
/* Social
/*
/*****************************************************************************/

.btn {
	border: 1px solid #db9b9b;
	border-radius: 4px;
	background-color: #e0a9b7;
	display: inline-block;
	padding: 10px 15px;
	/*-ms-touch-action: manipulation;
	touch-action: manipulation;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;*/
}

a.btn {
	color: #fff;
	width: 6em;
	text-align: center;
	margin-bottom: 15px;
}
 
.social-link {
	padding-right: 20px;
	visibility: hidden;
}

/*****************************************************************************/
/*
/* Resume
/*
/*****************************************************************************/

#experience-header, #edu-header {
	padding-bottom: 20px;
}

.description > p {
	font-size: 18px;
}

.description {
	padding-bottom: 15px;
}

.contract {
	font-size: 9px;
	padding-left: 3px;
}

p.note {
	font-style: italic;
	font-size: 16px;
}

.other-speaker {
	font-style: italic;
	font-size: 14px;
}

.speaking-list > li {
	padding-bottom: 15px;
}

.date {
	font-size: 16px;
}

.speaking-subhead {
	padding-bottom: 10px;
}

/*****************************************************************************/
/*
/* Portfolio
/*
/*****************************************************************************/


ul.tags > li {
	display: inline-flex;
	font-size: 10px;
	text-transform: uppercase;
	background-color: #e7bcb9;
	padding: 8px;
	color: white;
	border-radius: 3px;
}


/*****************************************************************************/
/*
/* Footer
/*
/*****************************************************************************/

.copyright {
	background-color: white;
	border-top: 1px solid #e5c8ce;
	height: 75px;
}

.copyright > p {
	margin-left: auto;
	margin-right: auto;
	width: 90%;
	max-width: inherit;
}

/*****************************************************************************/
/*
/* Media Queries
/*
/*****************************************************************************/

/* Smartphones (portrait and landscape) ----------- */

@media screen and (max-device-width : 480px) {
	.intro-img {
		width: 100px;
	}
}
