<div id="Acopio" class="clearfix">
	<h2 id="acopio-header">Acopio by Fair Trade USA</h2>
	<h3 class="sub">Better Coffee Supply Chain Data</h3>
	<br />
	<div class="gallery">
		<div class="img">
			<!-- thumbnail image wrapped in a link -->
			<a href="#acopio-wf" class="thumb">
				<img src="../img/portfolio/acopio-wf-sm.png">
			</a>
			<!-- lightbox container hidden with CSS -->
			<a href="#_" class="lightbox" id="acopio-wf">
				<img src="../img/portfolio/acopio-wf-lg.png">
			</a>
		</div>
		<div class="img">
			<!-- thumbnail image wrapped in a link -->
			<a href="#farmer-profile" class="thumb">
				<img src="../img/portfolio/farmer-profile-sm.png">
			</a>
			<!-- lightbox container hidden with CSS -->
			<a href="#_" class="lightbox" id="farmer-profile">
				<img src="../img/portfolio/farmer-profile-lg.png">
			</a>
		</div>
	</div>
</div>