<div id="Acopio" class="clearfix">
	<h2 id="acopio-header">Acopio by Fair Trade USA</h2>
	<h3 class="sub">Better Coffee Supply Chain Data</h3>
	<br />
	<div class="gallery">
		<div class="img">
			<!-- thumbnail image wrapped in a link -->
			<a href="#acopio-wf" class="thumb">
				<img src="../img/portfolio/acopio-wf-sm.png">
			</a>
			<!-- lightbox container hidden with CSS -->
			<a href="#_" class="lightbox" id="acopio-wf">
				<img src="../img/portfolio/acopio-wf-lg.png">
			</a>
		</div>
		<div class="img">
			<!-- thumbnail image wrapped in a link -->
			<a href="#farmer-profile" class="thumb">
				<img src="../img/portfolio/farmer-profile-sm.png">
			</a>
			<!-- lightbox container hidden with CSS -->
			<a href="#_" class="lightbox" id="farmer-profile">
				<img src="../img/portfolio/farmer-profile-lg.png">
			</a>
		</div>
		<div class="img">
			<!-- thumbnail image wrapped in a link -->
			<a href="#acopio-flow" class="thumb">
				<img src="../img/portfolio/acopio-flow-sm.png">
			</a>
			<!-- lightbox container hidden with CSS -->
			<a href="#_" class="lightbox" id="acopio-flow">
				<img src="../img/portfolio/acopio-flow-lg.png">
			</a>
		</div>
	</div>
	<br />
	<div class="project-info">
		<h3 class="sub-small">ABOUT</h3>
		<ul class="tags">
			<li>Information Architecture</li>
			<li>Interaction Design</li>
			<li>Business Analysis</li>
			<li>Persona Development</li>
			<li>Design for Android</li>
		</ul>
	</div>
</div>