<div id="Acopio" class="clearfix">
	<h2 id="acopio-header">Acopio by Fair Trade USA</h2>
	<h3 class="sub">Better Coffee Supply Chain Data</h3>
	<br />
	<div class="gallery">
		<div class="img">
			<!-- thumbnail image wrapped in a link -->
			<a href="#acopio-wf" class="thumb">
				<img src="../img/portfolio/acopio-wf-sm.png">
			</a>
			<!-- lightbox container hidden with CSS -->
			<a href="#_" class="lightbox" id="acopio-wf">
				<img src="../img/portfolio/acopio-wf-lg.png">
			</a>
		</div>
		<div class="img">
			<!-- thumbnail image wrapped in a link -->
			<a href="#farmer-profile" class="thumb">
				<img src="../img/portfolio/farmer-profile-sm.png">
			</a>
			<!-- lightbox container hidden with CSS -->
			<a href="#_" class="lightbox" id="farmer-profile">
				<img src="../img/portfolio/farmer-profile-lg.png">
			</a>
		</div>
		<div class="img">
			<!-- thumbnail image wrapped in a link -->
			<a href="#acopio-flow" class="thumb">
				<img src="../img/portfolio/acopio-flow-sm.png">
			</a>
			<!-- lightbox container hidden with CSS -->
			<a href="#_" class="lightbox" id="acopio-flow">
				<img src="../img/portfolio/acopio-flow-lg.png">
			</a>
		</div>
	</div>
	<br />
	<div class="project-info">
		<h3 class="sub-small">ABOUT</h3>
		<p><strong>Problem:</strong> Fair Trade USA acquired a promising web-based coffee supply chain system, Acopio, but it needed to be more portable to survive in the field.</p>
		<p><strong>Solution:</strong> An Android app that utilizes offline storage, and can grow to encompass more user roles. Knowing that users in Nicaragua may primarily be using this app outdoors, and it may be their first experience with a tablet, the app is designed to be readable in sunlight, with large tap areas and a consistent UI.</p>
		<ul class="tags">
			<li>Information Architecture</li>
			<li>Interaction Design</li>
			<li>Business Analysis</li>
			<li>Persona Development</li>
			<li>Design for Android</li>
		</ul>
	</div>
</div>