<div id="biovest" class="clearfix">
	<h2 id="biovest-header">Biovest</h2>
	<h3 class="sub">Pioneering the Future of Personalized Medicine</h3>
	<br />
	<div class="gallery">
		<div class="img">
			<!-- thumbnail image wrapped in a link -->
			<a href="#biovaxid" class="thumb">
				<img src="../img/portfolio/biovaxid-sm.png">
			</a>
			<!-- lightbox container hidden with CSS -->
			<a href="#_" class="lightbox" id="biovaxid">
				<img src="../img/portfolio/biovaxid-lg.png">
			</a>
		</div>
		<div class="img">
			<!-- thumbnail image wrapped in a link -->
			<a href="#biovaxid-login" class="thumb">
				<img src="../img/portfolio/biovaxid-login-sm.png">
			</a>
			<!-- lightbox container hidden with CSS -->
			<a href="#_" class="lightbox" id="biovaxid-login">
				<img src="../img/portfolio/biovaxid-login-lg.png">
			</a>
		</div>
		<div class="img">
			<!-- thumbnail image wrapped in a link -->
			<a href="#biovaxid-detail" class="thumb">
				<img src="../img/portfolio/biovaxid-detail-sm.png">
			</a>
			<!-- lightbox container hidden with CSS -->
			<a href="#_" class="lightbox" id="biovaxid-detail">
				<img src="../img/portfolio/biovaxid-detail-lg.png">
			</a>
		</div>
	</div>
	<br />
	<div class="project-info">
		<h3 class="sub-small">ABOUT</h3>
		<ul class="tags">
			<li>Information Architecture</li>
			<li>Interaction Design</li>
			<li>UI Design</li>
		</ul>
	</div>
</div>