<div id="biovest" class="clearfix">
	<h2 id="hp-header">Biovest</h2>
	<div class="gallery">
		<!-- Lightbox usage markup -->
		<link href="http://fonts.googleapis.com/css?family=Raleway:200,100,400" rel="stylesheet" type="text/css" />
		<h1>Pure CSS Lightbox</h1>
		<p>Click the thumbnail below to activate the lightbox</p>

		<!-- thumbnail image wrapped in a link -->
		<a href="#img1">
		  <img src="https://s3.amazonaws.com/gschierBlog/images/pig-small.jpg">
		</a>

		<!-- lightbox container hidden with CSS -->
		<a href="#_" class="lightbox" id="img1">
		  <img src="https://s3.amazonaws.com/gschierBlog/images/pig-big.jpg">
		</a>

		<p class="italic small">Image credit: Me</p>
	</div>
</div>