<div id="HealthPartners">
	<h2 id="hp-header">HealthPartners myHP mobile app &amp; website</h2>
	<h3 class="sub">Care Anywhere</h3>
	<br />
	<div class="gallery">
		<div class="img">
			<!-- thumbnail image wrapped in a link -->
			<a href="#financials-ss" class="thumb">
				<img src="../img/portfolio/financials-SS-sm.png">
			</a>
			<!-- lightbox container hidden with CSS -->
			<a href="#_" class="lightbox" id="financials-ss">
				<img src="../img/portfolio/financials-SS-lg.png">
			</a>
		</div>
		<div class="img">
			<!-- thumbnail image wrapped in a link -->
			<a href="#financials-paper" class="thumb">
				<img src="../img/portfolio/financials-paper-sm.png">
			</a>
			<!-- lightbox container hidden with CSS -->
			<a href="#_" class="lightbox" id="financials-paper">
				<img src="../img/portfolio/financials-paper-lg.png">
			</a>
		</div>		
		<div class="img">
			<!-- thumbnail image wrapped in a link -->
			<a href="#financials-wf" class="thumb">
				<img src="../img/portfolio/financials-wf-sm.png">
			</a>
			<!-- lightbox container hidden with CSS -->
			<a href="#_" class="lightbox" id="financials-wf">
				<img src="../img/portfolio/financials-wf-lg.png">
			</a>
		</div>
	</div>
	<br />
	<div class="project-info">
		<h3 class="sub-small">ABOUT</h3>
		<ul class="tags">
			<li>Information Architecture</li>
			<li>Interaction Design</li>
			<li>Usability Testing</li>
			<li>Business Analysis</li>
		</ul>
	</div>
</div>