<div id="target" class="clearfix">
	<h2 id="target-header">m.target.com</h2>
	<h3 class="sub">2015 Webby Awards Honoree for Best User Experience - Mobile</h3>
	<br />
	<div class="gallery">
		<div class="img">
			<!-- thumbnail image wrapped in a link -->
			<a href="#ff-msg" class="thumb">
				<img src="../img/portfolio/ff-msg-sm.png">
			</a>
			<!-- lightbox container hidden with CSS -->
			<a href="#_" class="lightbox" id="ff-msg">
				<img src="../img/portfolio/ff-msg-lg.png">
			</a>
		</div>		
		<div class="img">
			<!-- thumbnail image wrapped in a link -->
			<a href="#search-prototype" class="thumb">
				<img src="../img/portfolio/search-prototype-sm.png">
			</a>
			<!-- lightbox container hidden with CSS -->
			<a href="#_" class="lightbox" id="search-prototype">
				<iframe src="http://5ch6ea.axshare.com/app_home.html"></iframe>
				<p class="lightbox-text">Try searching for the letters A, B, C, D, E or F to see how the prototype works.</p>
			</a>
		</div>
		<div class="img">
			<!-- thumbnail image wrapped in a link -->
			<a href="#choices-prototype" class="thumb">
				<img src="../img/portfolio/choices-prototype-sm.png">
			</a>
			<!-- lightbox container hidden with CSS -->
			<a href="#_" class="lightbox" id="choices-prototype">
				<iframe src="http://dnswy3.axshare.com/app_home.html"></iframe>
				<p class="lightbox-text">This prototype was used to convey conceptual ideas for browsing on mobile.</p>
			</a>
		</div>
	</div>
</div>