<div id="target" class="clearfix">
	<h2 id="target-header">m.target.com</h2>
	<h3 class="sub">2015 Webby Awards Honoree for Best User Experience - Mobile</h3>
	<br />
	<div class="gallery">
		<div class="img">
			<!-- thumbnail image wrapped in a link -->
			<a href="#ff-msg" class="thumb">
				<img src="../img/portfolio/ff-msg-sm.png">
			</a>
			<!-- lightbox container hidden with CSS -->
			<a href="#_" class="lightbox" id="ff-msg">
				<img src="../img/portfolio/ff-msg-lg.png">
			</a>
		</div>		
		<div class="img">
			<!-- thumbnail image wrapped in a link -->
			<a href="#search-prototype" class="thumb">
				<img src="../img/portfolio/search-prototype-sm.png">
			</a>
			<!-- lightbox container hidden with CSS -->
			<a href="#_" class="lightbox" id="search-prototype">
				<iframe src="http://5ch6ea.axshare.com/app_home.html"></iframe>
				<p class="lightbox-text">Try searching for the letters A, B, C, D, E or F to see how the prototype works.</p>
			</a>
		</div>
		<div class="img">
			<!-- thumbnail image wrapped in a link -->
			<a href="#choices-prototype" class="thumb">
				<img src="../img/portfolio/choices-prototype-sm.png">
			</a>
			<!-- lightbox container hidden with CSS -->
			<a href="#_" class="lightbox" id="choices-prototype">
				<iframe src="http://dnswy3.axshare.com/app_home.html"></iframe>
				<p class="lightbox-text">This prototype was used to convey conceptual ideas for browsing on mobile.</p>
			</a>
		</div>
	</div>
	<div class="project-info">
		<h3 class="sub-small">ABOUT</h3>
		<p><strong>Problem:</strong> Target's mobile experience needs to the best resource for guests on a mobile device.</p>
		<p><strong>Solution:</strong> A strong product team focused on improving and innovating the user experience for Target's mobile website. During my tenure at Target, this involved minor work like surfacing a book's ISBN, maintaining consistency and squashing bugs. It also involved larger work like defining how to display item availability across platforms. Finally, it involved prototyping and playing with new ideas that could eventually get funneled into the stream of work.</p>
		<ul class="tags">
			<li>Information Architecture</li>
			<li>Interaction Design</li>
			<li>Usability Testing</li>
			<li>Business Analysis</li>
			<li>Concepting &amp; Discovery</li>
			<li>Product Management</li>
			<li>Prototyping</li>
		</ul>
	</div>
</div>