<div id="community">
	<h2 id="community-header">In the Community</h2>
	<div id="speaking">
		<h3 id="speaking-subhead">Speaking Engagements</h3>
		<ul class="speaking-list">
			<li>Lean UX MN<br />
			<span class="date">September 2013</span></li>
			<li>UXPA MN <span class="other-speaker">with Heather Bryan</span><br />
			<span class="date">January 2014</span></li>
			<li>IxDA MN <span class="other-speaker">(Panel Discussion)</span><br />
			<span class="date">March 2014</span></li>
			<li>Minnesota Web Design Professionals<br />
			<span class="date">June 2014</span></li>
			<li>MinneWebCon<br />
			<span class="date">April 2014</span></li>
			<li>MinneWebCon Workshops <span class="other-speaker">with Heather Bryan</span><br />
			<span class="date">April 2014</span></li>
			<li>AIGA Design Camp<span class="other-speaker">with Jamey Erickson</span><br />
			<span class="date">October 2014</span></li>
			<li>AIGA South Dakota <span class="other-speaker">with Jamey Erickson</span><br />
			<span class="date">November 2014</span></li>
			<li>AIGA Pivot: Porfolio Insider <span class="other-speaker">(Panel Discussion)</span><br />
			<span class="date">March 2015</span></li>
			<li>AIGA Portfolio 1-on-1<br />
			<span class="date">April 2015</span></li>
			<li>MinneBar<br />
			<span class="date">April 2015</span></li>
		</ul>
		<br />
		<h3>Upcoming</h3>
		<ul>
			<li>UX Camp - Chicago<br />
			<span class="date">June 2015</span></li>
		</ul>
	</div>
</div>