<div id="community">
	<h2 id="community-header">In the Community</h2>
	<div id="speaking">
		<h3>Speaking and Professional Appearances</h3>
		<ul>
			<li>Lean UX MN</li>
			<li>UXPA MN <span class="other-speaker">with Heather Bryan</span></li>
			<li>Minnesota Web Professionals Group</li>
			<li>IxDA MN <span class="other-speaker">(Panel Discussion)</span></li>
			<li>MinneWebCon 2014</li>
			<li>MinneWebCon 2014 Workshops <span class="other-speaker">with Heather Bryan</span></li>
			<li>AIGA Design Camp, 2014 <span class="other-speaker">with Jamey Erickson</span></li>
			<li>AIGA South Dakota <span class="other-speaker">with Jamey Erickson</span></li>
			<li>AIGA Pivot: Porfolio Insiders <span class="other-speaker">(Panel Discussion)</span></li>
			<li>AIGA Portfolio 1-on-1 2015</li>
			<li>MinneBar 2015</li>
		</ul>
		<br />
		<h3>Upcoming</h3>
		<ul>
			<li>UX Camp - Chicago</li>
		</ul>
	</div>
</div>