<div id="experience" class="clearfix">
	<h2 id="experience-header">Experience</h2>
	<!-- RetraceHealth -->
	<div id="gravie" class="description">
		<h3>Lead UX Architect</h3>
		<h3 class="sub">RetraceHealth</h4>
		<h3 class="sub-small">June 2016 &mdash; Present</h5>
		<p>At RetraceHealth we're redefining how primary care is delivered. My primary role in that is to define the omnichannel user experience as we build up a robust and delightful system for both our team and consumers.</p>
		<p>I also lead projects in the service design space, collaborate with marketing and product leads to deliver new products & services, and lead the design practice.</p>
	</div>
	<!-- Gravie -->
	<div id="gravie" class="description">
		<h3>UX/UI Designer</h3>
		<h3 class="sub">Gravie</h4>
		<h3 class="sub-small">June 2015 &mdash; June 2016</h5>
		<p>I spent a year at this exciting startup, embedded within a product team creating and improving the experience of buying healthcare on the individual market. We tackled everything from the shopping experience, to education to billing and more, seeking to define a thorough end-to-end approach to health insurance.</p>
	</div>
	<!-- Software for Good -->
	<div id="sfg" class="description">
		<h3>UX Engineer</h3>
		<h3 class="sub">Software for Good</h4>
		<h3 class="sub-small">June 2014 &mdash; Present</h5>
		<p>At Software for Good, I work with a variety of clients to construct amazing user experiences by touching everything from strategy and research, to design and prototyping to delivery, validation and improvement.</p>
		<p>I often work with clients who need to tame complex systems of information and functionality, finding ways to satisfy and delight many different types of users simultaneously.</p>
	</div>
	<!-- Target -->
	<div id="target" class="description">
		<h3>UX Architect<span class="contract">CONTRACT</span></h3>
		<h3 class="sub">Target</h4>
		<h3 class="sub-small">February 2014 &mdash; June 2014</h5>
		<p>My primary role was to provide for UX needs on the mobile web team at Target. Embedded within a product team, I would research and propose potential enhancements to the mobile site, execute wireframes and usability tests, and collaborate with visual designers, product managers and business analysts.</p>
		<p>In addition to supporting the mobile web team, I also did a variety of discovery and concept work that served as a basis for larger enhancements or directional work.</p>
	</div>
	<!-- HealthPartners -->
	<div id="hp" class="description">
		<h3>UX Designer<span class="contract">CONTRACT</span></h3>
		<h3 class="sub">HealthPartners</h4>
		<h3 class="sub-small">October 2011 &mdash; February 2014</h5>
		<p>I worked within insurance, care and wellbeing projects to provide great user-centered design.</p>
		<p>I functioned primarily as a generalist, doing everything from research to usability testing to interaction and experience design.</p>
		<p>As more and more projects worked towards adopting agile, I worked to integrate lean UX methods like project team design sessions and guerilla testing into projects.</p>
		<p class=note>In the interest of transparency, it's important to note that I began my tenure at HealthPartners as an intern, and was promoted to Associate in 2012 and promoted again in 2013 to the title listed above.</p>
	</div>
</div>
