<div id="experience">
	<h2 id="experience-header">Experience</h2>
	<!-- Software for Good -->
	<h3>UX Engineer</h3>
	<h4>Software for Good</h4>
	<h5>June 2014 &mdash; Present</h5>
	<p>text here</p>
	<!-- Target -->
	<h3>UX Architect</h3>
	<h4>Target</h4>
	<h5>February 2014 &mdash; June 2014</h5>
	<p>My primary role was to provide for UX needs on the mobile web team at Target. Embedded within a product team, I would research and propose potential enhancements to the mobile site, execute wireframes and usability tests, and collaborate with visual designers, product managers and business analysts.</p>
	<p>In addition to supporting the mobile web team, I also did a variety of discovery and concept work that served as a basis for larger enhancements or directional work.</p>
	<!-- HealthPartners -->
	<h3>UX Designer</h3>
	<h4>HealthPartners</h4>
	<h5>October 2011 &mdash; January 2014</h5>
	<p>I worked within insurance, care and wellbeing projects to provide great user-centered design.</p>
	<p>I functioned primarily as a generalist, doing everything from research to usability testing to interaction and experience design.</p>
	<p>As more and more projects worked towards adopting agile, I worked to integrate lean UX methods like project team design sessions and guerilla testing into projects.</p>
</div>