<div id="summary" class="clearfix">
<br />
<br />
<br />
<h2 class="slideDown animate">Resume</h2>
	<div class="intro-p">
		<p class="lead">I care deeply about creating meaningful experiences.</p>
		<p>I believe in cultivating <strong>quality relationships</strong> between designers, developers and the entire project team.</p>
		<p>I empower project teams to <strong>solve problems together</strong> using a mix of user-respected patterns and new solutions.</p>
		<p>I <strong>stay in touch with the user</strong> through frequent testing, research and observation.</p>
	</div>
</div>