<h2>sometimes I speak at meetup groups and conferences.</h2>
<div class="talk">
	<script async class="speakerdeck-embed" data-id="44bbbc50402b0132231272c70849fb6b" data-ratio="1.33333333333333" src="//speakerdeck.com/assets/embed.js"></script>
</div>
<div class="talk">
<script async class="speakerdeck-embed" data-id="6f26fd705c27013147cb72318cd7c772" data-ratio="1.33333333333333" src="//speakerdeck.com/assets/embed.js"></script>
</div>
<div class="talk">
<script async class="speakerdeck-embed" data-id="d11c561002a301310e992e88a2aaf88c" data-ratio="1.33333333333333" src="//speakerdeck.com/assets/embed.js"></script>
</div>