<div id="work" class="clearfix">
	<h2>I've had the pleasure of working with these folks.</h2><br />
	<img src="../img/healthpartners.png" alt="HealthPartners" class="logo" />
	<img src="../img/target.png" alt="Target" class="logo" />
	<img src="../img/biovest.png" alt="Biovest" class="logo" />
	<img src="../img/fairtrade.png" alt="Fair Trade USA" class="logo" />
	<img src="../img/lifetime.png" alt="Lifetime Fitness" class="logo" />
	<img src="../img/cff.png" alt="Cystic Fibrosis Foundation" class="logo" />
	<img src="../img/uhg.png" alt="United Health Group" class="logo" />
</div>