<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{{ page.title }}</title>
        <meta name="viewport" content="width=device-width">

        <!-- syntax highlighting CSS -->
        <link rel="stylesheet" href="/css/syntax.css">

        <!-- fonts -->
        <link href='http://fonts.googleapis.com/css?family=Lato:300,400' rel='stylesheet' type='text/css'>

        <!-- Custom CSS -->
        <link rel="stylesheet" href="/css/main.css">

    </head>
    <body>
        <div class="header">
            <h1>beth mckeever</h1>
        </div>
      <div class="site">
        <section class="intro">
            {% include intro.html %}
        </section>
        <hr>
        <!-- <section class="talks">
            {% include talks.html %}
        </section>
        <hr> -->
        <section class="work">
            {% include work.html %}
        </section>
        <hr>
        <section class="tools">
            {% include tools.html %}
        </section>
        <hr>
        <footer class="footer">
            {% include footer.html %}
        </footer>
      </div>
    </body>
</html>
